---
import Layout from "./layout.astro";
---

<Layout>
	<section class="flex flex-col items-center justify-center mt-14">    
		<article class="flex flex-col max-w-md text-balance text-center">
			<p class="text-lg">Sitio web desarrollado con Astro y Svelte para preparación para el Examen de Grado de la Universidad Adventista de Bolivia.</p>
			<a href="https://ades.dev" target="_blank" class="mt-4 text-opacity-60 text-slate-100 hover:text-cyan-400">Por Ariel Espinoza</a>
		</article>
	</section>
</Layout>
